<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="5" name="E-commerce Shopping">
<parameter name="browserType" value="firefox"></parameter>
<parameter name="webURL" value="http://automationpractice.com/index.php"></parameter>
	<test name="Test">
		<classes>
			<class name="tests.HomePageTest" />
			
			<class name="tests.SignInPageTest_ValidAcc"/>
			<class name="tests.MyAccountTest"/>
		</classes>
	</test>
</suite>
